
.scaling-example {
    position: relative;
    width: 320px;
    height: 480px;
    margin: auto;
    background-color: #404040;
    overflow: hidden;
}

.scaling-example .box {
    background-image: url(../img/184310605_c038be8db5_z.jpg);
    background-size: cover;
    background-position: center;
    text-align: center;

    font-size: 30px;
    color: black;
    text-shadow: 0 -1px 0px white;
}
